/* Header Styles */
header {
    width: 100%;
    padding: 3em 4em 1em 4em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.logo {
    width: 75%;
    border-bottom: none;
}


header a {
    color: var(--darkgreen);
}

.main-nav {
    display: flex;
}

.main-nav ul {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.main-nav .nav-item {
    position: relative;
    margin:.5em 1em;
    padding: 0 0 .1em 0;
}

.main-nav ul ul {
    align-items: flex-start;
    font-size: .9em;
}

.nav-item .sub-nav {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 1.35em;
}

.sub-nav li {
    padding: .5em .25em .5em 0;
    position: relative;
}

a.main-nav-active-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -.5em;
    left: 0;
    background-color: var(--yellow);
    z-index: 100;
}

.nav-item:hover .sub-nav {
    display: block;
    position: absolute;
    margin: 0;
    text-align: center;
    z-index: 10;
    background-color: var(--yellow);
    padding: 1em 2em;
    transform: translateX(-25%);
}

.sub-nav:hover {
    display: block;
}

.sub-nav .sub-nav-item::after {
    background-color: var(--white);
    height: 4px;
    bottom: .2em;
}

.sub-nav .sub-nav-item:hover::after {
    visibility: visible;
    width: 100%;
    transition: all 0.4s ease-in-out 0s;
}

.logo h1, .logo h2 {
    width: fit-content;
}

header .rectangle-shape {
    position: absolute;
    height: 1em;
    width: 100%;
    background-color: var(--pink);
    top: 0;
}