.submission {
    padding-top: 10em;
}

.submission .col-container {
}

.submission .content-section {
    padding-top: 0;
}

.submission .breadcrumbs {
    font-size: .75em;
    padding: 1em 17%;
}

.submission .carousel-container {
    position: relative;
}

.submission .submission-text {
    font-size: 1.15em;
    border: .25em solid var(--yellow);
    color: var(--darkgreen);
    padding: 1.25em;
    white-space: pre-line;
    margin: 1em 0;
}

.submission .submission-text p {
    margin: 0;
}

.submission-link {
    padding: 0 0 1em 0;
    color: var(--blue);
}

.submission-link a {
}

.submission h5 {
    color: black;
}

.submission-info-section {
    margin: .75em;
    padding: 0 1em;
}

.submission-info-section strong {
    color: var(--brown)
}

.submission-description-container {
    margin: 3em 0;
}

.submission-description-container p {
    margin: 0 0 2em 0;
}

.submission .call-to-participate {
    margin-top: 7rem;
    padding-top: 10rem;
}

@media screen and (max-width: 950px) {
    .submission .col-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .submission .col-half {
        flex-basis: unset;
        height: fit-content;
    }

    .submission .content-section:nth-child(1) {
        padding: 2rem 15%;
        position: relative;
        width: 100vw;
        min-height: 20em;
    }
}