.submission {
    padding-top: 15em;
}

.submission .col-half {
    margin: 0 1em;
}

.submission h4 {
}

.submission p {
    margin: 2em 0;
}

.submission .call-to-participate {
    margin-top: 7em;
}