.submission {
    padding-top: 10em;
}

.submission .content-section {
    padding-top: 0;
}

.submission .col-half {
    margin: 0 1em;
}

.submission h4 {
}

.submission p {
    margin: 2em 0;
}

.submission .call-to-participate {
    margin-top: 7rem;
    padding-top: 10rem;
}

.submission .breadcrumbs {
    font-size: .75em;
    padding: 1em 17%;
}


@media screen and (max-width: 950px) {
    .submission .col-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .submission .col-half {
        flex-basis: unset;
        height: fit-content;
    }

    .submission .content-section:nth-child(1) {
        padding: 2rem 15%;
        position: relative;
        width: 100vw;
        min-height: 20em;
    }
}