.yellow-triangle-shape {
    transform: scale(2.1);
    top: 11em;
    left: 0;
}

.exhibit-preview {
    text-align: right;
    padding-bottom: 10em;
}

h4 {
    margin-bottom: 1.5em;
}

.hang-off-screen {
    position: absolute;
    right: -6em;
}

.hang-off-screen .circle {
    margin: 1em;
}

.exhibit-link {
    background-color: var(--yellow);
    color: var(--darkgreen);
    position: absolute;
    bottom: 1.5em;
    right: 4.5em;
}