.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.hero h2 {
    margin: auto;
}

.hero .outlined {
    -webkit-text-stroke: 2px var(--darkgreen);
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.hero .hidden {
    visibility: hidden;
}
.hero .rotating {
    position: absolute;
    transform: translatex(-6.35em);
    color: var(--yellow);
}

.fa-angle-down {
    color: var(--blue);
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translatex(-50%);
    font-size: 2em;
}

.home .description {
    margin: 2.5em 0;
    font-size: 1.75rem;

}

.rectangle {
    height: 100%;
    width: 100%;
    background-color: var(--darkgreen);
    top: 0;
    visibility: hidden;
}

/* Why isnt this in the em-shape css file? */
.em-shape {
    right: 23.25em;
    top: -2.5em;
    transform: scale(1.01);
}
