.call-to-participate {
    margin: 16em 0 3em 0;
}

.rectangle-shape {
    background-color: var(--pink);
    height: 2em;
    width: 70%;
    left: 0;
    top: 0;
}

/* Is there supposed to be a css property to make this blue? is this name accurate?*/
.blue-circle-shape {
    right: -6.5em;
    top: 50%;
    transform: translateY(-50%);
}
