.call-to-participate {
    margin: 10em 0 3em 0;
}

.rectangle-shape {
    background-color: var(--pink);
    height: 2em;
    width: 70%;
    left: 0;
    top: 0;
}

.blue-circle-shape {
    left: 85vw;
    top: 5em;

}

@media screen and (max-width: 768px) {
    .call-to-participate {
        margin: 0 0 3em 0;
    }
}