.about {
    padding-top: 15em;
}

.red-rectangle {
    position: absolute;
    height: 2.5em;
    width: 40%;
    background-color: var(--red);
    top: -2em;
    left: 0;
}

.brown-rectangle {
    position: absolute;
    height: 5em;
    width: 50%;
    background-color: var(--brown);
    bottom: -2em;
    right: 0;
}

.about .yellow-triangle-shape {
    transform: scale(1.5) translateX(-2.95em) translateY(-2.7em);
}

.about .call-to-participate {
    margin: 0;
}

.about .pullquote:nth-of-type(2) {
    margin: 4em 0;
}

.about .pullquote:nth-of-type(2) .col-text {
    margin: auto;
}