.about {
    padding-top: 10em;
    overflow: hidden;
}

.about .em-shape {
    left: 60vw;
    top: 0;
    width: 40vw
}

about .rectangle {
    height: 100%;
    width: 100%;
    background-color: var(--darkgreen);
    top: 0;
    left: 85vw;
}

.about .content-section {
    align-items: center;
}

.red-rectangle {
    position: absolute;
    height: 2.5em;
    width: 60vw;
    background-color: var(--red);
    top: 0;
    right: 40vw;
}

.brown-rectangle {
    position: absolute;
    height: 5em;
    width: 50vw;
    background-color: var(--brown);
    bottom: 0;
    left: 50vw;
}

.about .col-container:nth-of-type(2) .col-text {
    margin: auto;
}

.about .col-container:nth-of-type(3) .col-text {
    margin: auto 0 auto auto;
}

/*Extra Large Sized Screens*/
@media screen and (min-width: 1700px) {
    .about .rectangle {
        left: 76vw;
    }
    .about .call-to-participate {
        margin-top: 25vw;
    }
}

/*Tablet Screen Size*/
@media screen and (min-width: 900px) and (max-width: 1700px) {
    .about .rectangle {
        left: 90vw;
    }
}

/*Tablet Screen Size*/
@media screen and (max-width: 900px) {
    .about .rectangle {
        visibility: hidden;
    }
}

/*Small Screen Size*/
@media screen and (max-width: 768px) {
    .about .col-container {
        justify-content: center;
    }

}

/*Mobile Screen Size*/
@media screen and (max-width: 480px) {
    .about .col-text p {
        font-size: .75em;
        line-height: 1.5em;
    }

    .about .col-text {
        width: 70vw;
    }
}
