.full-collection {
    padding-top: 15em ;
    position: relative;
    min-height: 42em;
}

.full-collection .content-section {
    min-height: 0;
}

.full-collection .yellow-triangle-shape {
    transform: scale(.5);
    top: -2em;
    left: -15em;
    border-top: 40em solid var(--darkgreen);
}

.full-collection h3, .full-collection h4 {
    padding: 0;
}

.full-collection h3 {
    color: var(--brown);
    margin-top: 2em;
}