.full-collection {
    padding-top: 15em;
}

.full-collection .yellow-triangle-shape {
    transform: scale(2);
    top: -5em;
    left: 8em;
    border-top: 20em solid var(--darkgreen);
    border-right: 20em solid transparent;
}

.full-collection h3, .full-collection h4 {
    padding: 0 15%;
}

.full-collection h3 {
    color: var(--brown);
}

.full-collection .gallery {
    padding: 5em 12%;
}

.filtering {
    position: absolute;
    right: 0;
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--brown);
    padding: .85rem 1.25rem;
    font-family: FatFrank, sans-serif;
    font-size: 1.25rem;
    color: var(--white);
    width: fit-content;
}

.filtering h5{
    margin: 0;
    padding: .03em 1em 0 0;
    font-size: 1.25rem;
}

.filtering ul {
    font-family: forma-djr-deck, sans-serif;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filtering ul li {
    padding: 0 1em;
}

.filtering:hover ul {
    display: inline-flex;

}

.full-collection .exhibit-link {
    right: unset;
    left: 10em;
    background-color: var(--darkgreen);
    color: white;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
}