/* Apply a natural box layout model to all elements, but allowing components to change
Credit: Paul Irish
 */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Global Styles */
:root {
    --red: #eb4827;
    --yellow: #ddd413;
    --blue: #0387c8;
    --pink: #f5dbd9;
    --darkgreen: #264d3b;
    --brown: #936B3B;
    --black: #000;
    --white: #fff;
}

body {
    font-family: forma-djr-deck, sans-serif;
    letter-spacing: .075rem;
    font-size: 1.4rem;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}

img {
    width: 100%;
}

.background{
    width: 150%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}


a {
    text-decoration: none;
    color: var(--black);
    border-bottom: 2px solid var(--yellow);
    font-weight: 500;
}

.button {
    background-color: var(--red);
    padding: .85rem 1.25rem;
    font-family: FatFrank, sans-serif;
    font-size: 1.25rem;
    color: var(--white);
    border: solid 2px white;
}

.button:hover {
    background-color: var(--pink);
}

h1, h2, h3, h4, h5 {
    line-height: 1.1em;
}

h1 {
    margin: 0;
}

h2 {
    font-family: fatfrank, sans-serif;
    font-size: 2em;
    color: var(--darkgreen);
}

h3 {
    font-family: fatfrank, sans-serif;
    font-size: 1em;
    color: var(--yellow);
    margin: .25em 0;
}

h4 {
    font-family: fatfrank, sans-serif;
    font-size: 1.5em;
    color: var(--darkgreen);
    margin: .25em 0 1em 0;
}

h5 {
    font-size: .85em;
    color: var(--black);
    margin: .5em 0 .5em 0;
    font-weight: normal;
}

p {
    margin: 1em 0 2em 0;
    line-height: 2.25rem;
}

em {
    color: var(--blue);
    font-style: normal;
    line-height: 1.5;
}

.pullquote {
}

.center-container {
    display: flex;
    flex-direction: column;
}
.center {
    margin: auto;
}

.col-container {
    display: flex;

}

.col-text {
    width: 52%;
}

.col-half {
    flex-basis: 50%;
}

.content-section {
    padding: 10rem 15%;
    position: relative;
    width: 100vw
}

.navigation a {
    border-bottom: none;
    width: fit-content;
    padding: 0;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 7px;
    bottom: -.25em;
    left: 0;
    background-color: var(--red);
}

.navigation li:hover::after {
    visibility: visible;
    width: 100%;
    transition: all 0.4s ease-in-out 0s;
}

/* Shapes Section */
.shape {
    position: absolute;
}

.blue-circle-shape {
    background-color: var(--blue);
    width: 13em;
    height: 13em;
    border-radius: 100%;
}

.yellow-triangle-shape {
    width: 0;
    height: 0;
    border-top: 20em solid var(--yellow);
    border-right: 20em solid transparent;
}

/* Filtering Styles */
.filtering {
    position: absolute;
    right: 0;
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--brown);
    padding: .85rem 1.25rem;
    font-family: FatFrank, sans-serif;
    font-size: 1.25rem;
    color: var(--white);
    width: fit-content;
}