/* Apply a natural box layout model to all elements, but allowing components to change
Credit: Paul Irish
 */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Global Styles */
:root {
    --red: #eb4827;
    --yellow: #ddd413;
    --blue: #0387c8;
    --pink: #f5dbd9;
    --darkgreen: #264d3b;
    --black: #000;
    --white: #fff;
}

body {
    font-family: forma-djr-deck, sans-serif;
    letter-spacing: .075em;
    font-size: 1.15em;
    position: relative;
    line-height: 1.75em;
}

.background{
    width: 150%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

}

a {
    text-decoration: none;
    color: var(--black);
    border-bottom: 2px solid var(--yellow);
    font-weight: 500;
}

.button {
    background-color: var(--red);
    padding: .5em 1em;
    font-family: FatFrank, sans-serif;
    color: var(--white);
    border: solid 2px white;
}

h2 {
    font-family: fatfrank, sans-serif;
    font-size: 2em;
    color: var(--darkgreen);
}

h3 {
    font-family: fatfrank, sans-serif;
    font-size: 1em;
    color: var(--yellow);
}

h4 {
    font-family: fatfrank, sans-serif;
    font-size: 2em;
    color: var(--darkgreen);
}


/* Header Section Styles */
header {
    width: 100%;
    padding: 3em 4em 1em 4em;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

header .logo {
    width: 75%;
}

header a {
    border-bottom: none;
    width: fit-content;
    padding: 0;
}

header h1, header h2 {
    color: var(--black);
}

header h1 {
    font-family: fatfrank, sans-serif;
    font-size: 1.75em;
    margin: .25em .25em ;
}

header h2 {
    font-size: 1.25em;
    margin: .25em .3em;
}

header .main-nav ul {
    list-style-type: none;
    color: var(--black);
    font-weight: bold;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

header .main-nav ul li {
    position: relative;
    margin: .5em 1em;
}

header .main-nav ul ul.sub-nav li {
    margin: .5em 0;
}


header .main-nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -.5em;
    left: 0;
    background-color: var(--yellow);
}

header .main-nav a:hover::after {
    visibility: visible;
    width: 100%;
    transition: all 0.4s ease-in-out 0s;
}

header a.main-nav-active-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -.5em;
    left: 0;
    background-color: var(--yellow);
    z-index: 100;
}

header .nav-item {
    display: relative;
}

header .nav-item .sub-nav {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 1.5em;
    background-color: rgba(255,255,255,.5);
}

header .main-nav .nav-item:hover .sub-nav {
    display: flex;
}

.logo h1, .logo h2 {
    width: fit-content;
}


/* Home Page Component Styles */



/* Main Component Styles */
.col-container {
    display: flex;

}

.col {
    margin: 3%;
}

.col-one {
    flex-basis: 50%;
}


.col-two {
    flex-basis: 50%
}


/* About Component Styles*/







/* Footer Component Styles */
footer {
    text-align: center;
    padding: 0 0 1em 0;
    width: 100%;
}